<div class="w-screen h-screen flex flex-col justify-center items-center bg-slate-100">
  <h2 class="font-bold text-2xl">Welcome!</h2> 
  <p class="mb-2">Please sign in to continue</p>
  @if (form) {
  <app-card>
    <form [formGroup]="form" (submit)="onAuth()">
      <app-input
        formControlName="username"
        [label]="'Username'"
        [placeholder]="'Insert username'"
        [type]="'text'"
        [form]="form"
      />
      <app-input
        formControlName="password"
        [label]="'Password'"
        [placeholder]="'Insert password'"
        [type]="'password'"
        [form]="form"
      />
      <app-button
        [label]="'Login'"
        [mode]="'fill'"
        [variant]="'primary'"
        [type]="'submit'"
        [isDisabled]="form.invalid"
      />
    </form>
  </app-card>
  }
</div>
