<app-card>
  <div class="flex p-2 justify-between items-center">
    <h2 class="text-lg font-semibold">Create Employee</h2>
  </div>

  <div class="overflow-y-auto">
    <form
      [formGroup]="form"
      (submit)="onSubmit()"
      class="flex flex-col gap-6 p-4"
    >
      <div class="flex flex-wrap gap-4">
        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="username"
            [label]="'Username'"
            [placeholder]="'Insert username'"
            [type]="'text'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="firstName"
            [label]="'First Name'"
            [placeholder]="'Insert first name'"
            [type]="'text'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="lastName"
            [label]="'Last Name'"
            [placeholder]="'Insert last name'"
            [type]="'text'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="email"
            [label]="'Email'"
            [placeholder]="'Insert email'"
            [type]="'text'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="birthDate"
            [label]="'Birth Date'"
            [placeholder]="'Insert birth date'"
            [type]="'datetime-local'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)]">
          <app-input
            formControlName="basicSalary"
            [label]="'Basic Salary'"
            [placeholder]="'Insert basic salary'"
            [type]="'number'"
            [form]="form"
          />
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)] py-2 flex-col flex gap-2">
          <label for="Status" class="font-medium">Status</label>
          <select
            class="p-2 bg-white w-full block rounded-lg border border-gray-300 text-gray-800 focus:outline-0"
            formControlName="status"
          >
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>

        <div class="w-full md:w-[calc(50%-0.5rem)] py-2 flex-col flex gap-2">
          <label for="Group" class="font-medium">Group</label>
          <select
            class="p-2 bg-white w-full block rounded-lg border border-gray-300 text-gray-800 focus:outline-0"
            formControlName="group"
          >
            <option value="IT">IT</option>
            <option value="HR">HR</option>
            <option value="Finance">Finance</option>
          </select>
        </div>

        <div class="w-full">
          <app-input
            formControlName="description"
            [label]="'Description'"
            [placeholder]="'Insert description'"
            [type]="'textarea'"
            [form]="form"
          />
        </div>
      </div>

      <div class="flex justify-end items-center gap-4">
        <app-button
          [label]="'Cancel'"
          [mode]="'outline'"
          [variant]="'primary'"
          [type]="'button'"
        />
        <app-button
          [label]="'Save'"
          [mode]="'fill'"
          [variant]="'primary'"
          [type]="'submit'"
          [isDisabled]="form.invalid"
        />
      </div>
    </form>
  </div>
</app-card>
