@if (_pagination$ | async; as pagination) {
<div
  class="p-2 w-full md:text-sm absolute bottom-0 left-0 right-0 h-full flex justify-between items-center text-xs text-gray-600"
>
  <p>
    Showing {{ pagination.totalItems }}
    {{ pagination.totalItems === 1 ? "result" : "results" }}
  </p>

  <div class="flex gap-2 items-center">
    <p>Per page</p>

    <select
      class="p-2 bg-white rounded-lg border border-gray-300"
      (change)="onPerPageChange($event)"
    >
      @for (opt of itemPerPageOpt; track $index) {
      <option [value]="opt.value" [selected]="pagination.perPage === opt.value">
        {{ opt.label }}
      </option>
      }
    </select>
  </div>
  <div class="flex gap-2 items-center">
    <app-button-icon
      [icon]="'heroChevronLeft'"
      (click)="onChangePage('prev')"
      [disabled]="pagination.page <= 1"
    />
    <p>{{ pagination.page }}</p>
    <app-button-icon
      [icon]="'heroChevronRight'"
      (click)="onChangePage('next')"
      [disabled]="pagination.page >= pagination.totalPage"
    />
  </div>
</div>
}
