<div
  class="flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border"
>
  <div class="overflow-x-auto">
    <table class="w-full text-left table-auto min-w-max">
      <thead class="bg-gray-100 border-b border-b-gray-300 sticky top-0 z-10">
        <tr>
          @for (col of columns; track $index) {
          <th class="p-4">
            <p
              class="block text-sm font-normal capitalize text-blue-gray-900 opacity-70"
            >
              {{ col | titleFormatter }}
            </p>
          </th>
          }
        </tr>
      </thead>
    </table>
  </div>

  @if (data.length > 0) {
  <div class="flex-1 overflow-y-auto" style="max-height: 400px">
    <table class="w-full table-auto min-w-max">
      <tbody>
        @for (row of data; track $index) {
        <tr class="border-b border-gray-50">
          @for (col of columns; track $index) { @if (col !== 'action') {
          <td class="p-4">
            <p
              class="text-sm font-normal text-blue-gray-900 rounded-lg text-center"
              [ngClass]="getRowClass(col, row)"
            >
              {{ col !== "birthDate" ? row[col] : (row[col] | dateFormatter) }}
            </p>
          </td>
          } @else {
          <td class="p-4 flex justify-between items-center gap-2">
            <app-button-icon
              [icon]="'heroPencil'"
              [showBorder]="false"
              [color]="'text-yellow-500'"
              (click)="onEdit(row)"
            />
            <app-button-icon
              [icon]="'heroTrash'"
              [showBorder]="false"
              [color]="'text-red-700'"
              (click)="onDelete(row)"
            />
          </td>
          } }
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <p class="p-10 mx-auto">Oops there is no data to show...</p>
  }

  <div class="h-12 bg-white flex items-center justify-center z-50 relative">
    <app-pagination></app-pagination>
  </div>
</div>
