<div class="my-2 py-2 flex-col flex gap-2">
  @if (label) {
  <label [for]="label" class="font-medium">{{ label }}</label>
  } @if (type === 'text' || type === 'number' || type === 'password') {
  <input
    *ngIf="control"
    [type]="type"
    class="p-2 bg-white rounded-lg border border-gray-300 text-gray-800 focus:outline-0"
    [placeholder]="placeholder"
    [formControl]="control"
  />
  }

  <small *ngIf="control?.touched && control?.invalid" class="text-red-600">
    *{{ label }} is required
  </small>
</div>
